<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pianoradio</title>
  <meta name="description" content="Create your own custom SoundCloud player with just HTML and CSS. Built with AngularJS">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="docs/favicon.png" />
  <link rel="docs/apple-touch-icon-precomposed" href="apple-touch-icon.png" />
  <link rel="stylesheet" href="docs/autobass.css"/>
  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">

  <script src="//cdnjs.cloudflare.com/ajax/libs/vue/0.10.6/vue.min.js"></script>
  <script src="v-plangular.min.js"></script>

  <!--
  <script src="docs/app.js"></script>
  -->

</head>
<body id="vm" class="theme-dark-red">

 

  <section id="examples" class="container px2 py4 ">
    <h2 class="mb1">PianoRadio</h2>

    <div class="table bg-darken-2" 
  v-component="plangular" 
  v-src="'https://soundcloud.com/moby/sets/innocents'">
  <div class="table-cell">
    <button class="h2 button-icon" v-on="click: playPause(player.playlistIndex)">
          <svg v-if="player.tracks[player.i] != track || !player.playing" v-plangular-icon="'play'"></svg>
          <svg v-if="player.tracks[player.i] == track && player.playing" v-plangular-icon="'pause'"></svg>
        </button>
  </div>
  <div class="table-cell px2 full-width">
    <h3 class="m0">{{ player.currentTrack.user.username }} - {{ player.currentTrack.title }}</h3>
  </div>
</div>

    
  </section>

<div class="sharebtnposition">    
<div class="pluso" data-background="transparent" data-options="medium,square,line,vertical,counter,theme=04" data-services="vkontakte,facebook,twitter,google,odnoklassniki,email"></div>
    <script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>
</div>
  
  <footer class="py2 bg-darken-2">
    <div class="container px2">      
      <p class="h6 m0">Made with love by <a href="https://vk.com/zloysalatik">Zloysalat</a>.</p>
    </div>
  </footer>


<script> var player.playlistIndex = Math.floor((Math.random() * 10) + 1); </script>
<script> var vm = new Vue({ el: '#vm' }); </script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.8.0.js" type="text/javascript">/script> 
<script type="text/javascript">
 $(function(){
     setTimeout(function() {
           $("button.button-icon").trigger('click');
        },10);
       });
</script>
</body>
</html>